body {
	background-color: darkgrey;
	font-size: 16px;
	margin: 0;
	padding: 0;
}

.math-engine {
	margin: 20px auto;
	width: 90%;
	background-color: #fff;
	text-align: center;
	border-color: black;
	border-style: solid none solid none;
	padding: 20px; 
}

.form-section {
	border: none;
}